@use "variables" as *;

footer {
    height: 81px;
    background-color: $background-color;
    display: flex;
    align-items: center;
    justify-content: space-around;
    ul {
        display: flex;
        list-style: none;
        width: 100%;
        margin: 0;
        padding: 0;
        justify-content: space-around;
        align-items: center;
    }
}
